* {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
}

.cabeçalho {
    background-color: #a26941;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}





.cabeçalho-título {
    color: #000000;
    font-size: 54px;
}

.cabeçalho-tema {
    color: #000000;
    font-size: 22px;
}

.cabeçalho-direto {
    color: #ffffff;
    font-size: 22px;
}

.cabeçalho-logotipo {
    width: 120px;
}


.centro-cabecalho{ 
    text-align: center;
    justify-content: space-around;
    align-items: center;
    padding: 0px 0;

}
 
.cabeçalho-mancham{
    margin-left: 0px;
scroll-margin-top: 0px;
width: 350px;
}

.cabeçalho-mancha{
    margin-right: 0px;
    margin-top: 0px;
    width: 250px;

}

.nossa-escola {
    background-color: #a26941;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;

}

.nossa-escola-título {
    font-size: 32px;
    padding: 24px;
}

.nossa-escola-título{
    text-align: center;
}
.leite {
    width: 150px;
}
.nossa-escola-imagem1{
    width: 300px;
}
.nossa-escola-imagem2{
    width: 300px;
}
.precos{
    padding-left: 0px;
    
    width: 250px;
}


.equipe-título{
    text-align: center;
}




.rodapé{
    background-color: #a26941;
    color: #000000;
    font-size: 20px;
    display: flex;
    justify-content: space-around;
    padding: 50px 0;
    align-items: center;
}

.rodapé-imagem{
    width: 30px;
}

.manchamm{
    width: 250px;
    padding-right: 0px;
 }